#topmenu{margin:0;padding:50px 0 0 0;list-style-type:none;list-style-image:none;text-transform:lowercase;}
#topmenu li{float:right;font-size:20px;color:#C0C0C0;}
#topmenu a{display:block;height:25px;padding:0 0 0 0;margin:0 10px 0 10px;text-align:center;text-decoration:none;color:#C0C0C0;}
#topmenu a:visited{color:#C0C0C0;}
#topmenu a:hover{color:#707070;}
.home #topmenu a.home,
.about #topmenu a.about,
.projects #topmenu a.projects,
.silly #topmenu a.silly,
.blog #topmenu a.blog{color:#404040;border-bottom:2px #505050 solid;}
#header{height:75px;line-height:25px;width:100%;color:#fff;margin:0;padding:0 0 0 0;}
body{font-family:Helvetica, sans-serif;font-size:14px;line-height:1.5em;text-align:center;margin:0px;}
h1, h2, h3, h4{font-weight:normal;font-family:Helvetica,sans-serif;text-transform:lowercase;color:#707070;}
h1, h1 a, h1 a:visited{font-size:24px;text-decoration:none;padding:10px 0 0 0;}
h2, h2 a, h2 a:visited{font-size:18px;text-decoration:none;padding:10px 0 0 0;}
h3, h3 a, h3 a:visited{font-size:14px;margin:5px 0 5px 0;color:#505050;text-decoration:none;}
h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited, p a, p a:visited{color:#404040;text-decoration:none;}
h1 a:hover, h2 a:hover, h3 a:hover, p a:hover{color:#C0C0C0;}
code{font:Courier, Fixed;font-size:11px;display:block;overflow:auto;text-align:left;padding:5px;max-height:400px;background:#efefef;border:1px #404040 solid;}
#page{background:#fff;background-position:right;text-align:left;margin:0px auto 0px;padding:0 0 0 0;width:600px;}
.primary{width:94%;padding:20px 3% 15px 3%;margin:0 0 0 0;}
.post-wrapper{border-radius:4px;border:1px solid #D0D0D0;margin:20px 0 30px 0;padding:20px}
img{max-width:100%;height:auto;}
ol, ul{margin:0 0 0 15px;padding:0 0 5px 0;line-height:1.3em;list-style-type:square;}
li a, li a:visited{color:#404040;text-decoration:none;}
li a:hover{color:#C0C0C0;}
table {width:100%;border:1px #505050 solid;}
td {text-align:center;border:1px #505050 solid;}
.meta, .meta a, .meta a:hover, .meta a:visited {margin: 10px 0 0 0;padding: 5px 0 5px 0;text-align: left;color: #808080;text-transform: lowercase;text-decoration:none}
#footer{height:50px;line-height:10px;width:94%;text-align:center;padding:0 0 20px 0;margin:0 auto 0;border-top:1px #404040 solid;}
#footer a, #footer a:visited{color:#404040;text-decoration:none;}
#footer a:hover{color:#C0C0C0;}
@media screen and (max-width:600px){#page{margin:0 0 0 0;width:100%;}
}
